body{
	color: white;
	background-color: grey;
}
#colorWrapper{
	text-align: center;
}
#red{
	height: 25px;
	width: 25px;
	background-color: red
}
#darkRed{
	height: 25px;
	width: 25px;
	background-color: darkred;
}
#orange{
	height: 25px;
	width: 25px;
	background-color: orange
}
#darkOrange{
	height: 25px;
	width: 25px;
	background-color: darkorange;
}
#yellow{
	height: 25px;
	width: 25px;
	background-color: yellow;
}
#darkYellow{
	height: 25px;
	width: 25px;
	background-color: lemons
}
#green{
	height: 25px;
	width: 25px;
	background-color: green;
}
#darkGreen{
	height: 25px;
	width: 25px;
	background-color: darkgreen;
}
#blue{
	height: 25px;
	width: 25px;
	background-color: blue;
}
#indigo{
	height: 25px;
	width: 25px;
	background-color: indigo;
}
#violet{
	height: 25px;
	width: 25px;
	background-color: violet;
}
#pink{
	height: 25px;
	width: 25px;
	background-color: pink;
}
